@import "../../styles/variables.scss";

.arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	&__item {
		width: 14px;
		fill: $lightgray;
	}
	&:hover {
		border-radius: 50%;
		background-color: $hoverGray;
	}
}
