@import "../../styles/variables.scss";
.row {
	display: flex;
	flex: 1 1 auto;
	overflow: hidden;
}
.day {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 24px;
	width: 24px;
	font-weight: 500;
	color: $lightgray;
	cursor: pointer;
	border-radius: 50%;
	transition: background-color 100ms linear;
	&__current {
		color: $darkgray;
	}
	&__active {
		background-color: $blue;
		color: #fff;
		pointer-events: none;
	}
	&:hover {
		background-color: $hoverGray;
	}
}

.smallCalendar {
	&__wrapper {
		display: flex;
		flex-direction: column;
	}
	&__dayNames {
		display: flex;
		align-items: center;
		height: 24px;
	}
	&__dayName {
		width: 32px;
		text-align: center;
		font-size: 10px;
		font-weight: 500;
		color: $lightgray;
	}
	&__day {
		margin: 0 3.3px;
		font-size: 10px;
	}
}

.largeCalendar {
	&__wrapper {
		display: flex;
		flex-direction: column;
		height: 100%;
		border-left: 1px solid $border;
	}
	&__row {
		border-bottom: 1px solid $border;	
	}
	&__dayWrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: 1 1 100%;
		min-width: 95px;
		border-right: 1px solid $border;
	}
	&__dayName {
		color: $lightgray;
		font-size: 11px;
		font-weight: 500;
		margin-top: 5px;
	}
	&__day {
		margin: 8px 0;
		font-size: 12px;
	}
}
