@import "../../styles/variables.scss";
.row {
	position: relative;
	display: flex;
	flex: 1 1 0%;
	overflow: hidden;
	width: 100%;
}
.day {
	text-align: center;
	width: 24px;
	height: 24px;
	color: $lightgray;
	margin: 0 3.4px;
	cursor: pointer;
	border-radius: 50%;
	transition: background-color 100ms linear;
	&__current {
		color: $darkgray;
	}
	&__active {
		background-color: $blue;
		color: #fff;
		pointer-events: none;
	}
	&:hover {
		background-color: $hoverGray;
	}
}

.smallCalendar {
	&__wrapper {

	}
	&__dayNames {
		display: flex;
		align-items: center;
		height: 24px;
	}
	&__dayName {
		width: 32px;
		text-align: center;
		font-size: 10px;
		font-weight: 500;
		color: $lightgray;
	}
	&__day {
		font-size: 10px;
		line-height: 24px;
		font-weight: 500;
	}
}

.largeCalendar {
	&__wrapper {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
	&__dayWrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		border: #dadce0 1px solid;
		width: 100%;
	}
}

