@import "../../styles/variables.scss";

.calendar {
	display: flex;
	flex-direction: column;
	padding: 0 14px 16px 19px;

	&__body {
		flex: 1 1 auto;
		flex-direction: column;
		overflow: hidden;
		position: relative;
	}
	&__dayNames {
		display: flex;
		align-items: center;
		height: 24px;
	}
	&__dayName {
		width: 32px;
		text-align: center;
		font-size: 10px;
		font-weight: 500;
		color: $lightgray;
	}
	&__monthDaysDisplay {

	}
	&__row {
		display: flex;
		color: $darkgray;
	}
	&__day {
		text-align: center;
		width: 24px;
		height: 24px;
		font-size: 10px;
		line-height: 24px;
		font-weight: 500;
		color: $lightgray;
		margin: 0 3.4px;
		cursor: pointer;
		border-radius: 50%;
		transition: background-color 100ms linear;
		&__large {
			width: 100%;
			min-width: 95px;
		}
		&__current {
			color: $darkgray;
		}
		&__active {
			background-color: $blue;
			color: #fff;
			pointer-events: none;
		}
		&:hover {
			background-color: $hoverGray;
		}
	}
}
