@import "../../styles/variables.scss";

.navbar {
	position: fixed;
	z-index: 99;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 8px;
	width: 100%;
	height: 48px;
	border-bottom: 1px solid $border;
	&__menu {
		display: flex;
		align-items: center;
	}
	&__burger {
		display: flex;
		align-items: center;
		width: 18px;
		height: 18px;
		cursor: pointer;
		z-index: 1;
		margin: 0 4px;
		padding: 12px;
		overflow: hidden;
		span,
		span::before,
		span::after {
			display: block;
			position: relative;
			width: 100%;
			height: 2px;
			background-color: $darkgray;
		}
		span::before {
			content: "";
			top: -7px;
		}
		span::after {
			content: "";
			top: 5px;
		}
		&:hover {
			background-color: $hoverGray;
			border-radius: 50%;
		}
	}

	&__logo {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 48px;
		width: 48px;
		color: $blue;
		font-size: 15px;
		margin-right: 5px;
	}
	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	&__title {
		font-size: 24px;
		color: $lightgray;
		margin-right: 40px;
	}

	&__controlPanel {
		display: flex;
		align-items: center;
		margin-right: 20px;
	}
	&__button {
		cursor: pointer;
		background-color: transparent;
		border: 1px solid #dadce0;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		height: 36px;
		padding: 0 12px;
		color: #3c4043;
		margin-right: 20px;
		&:hover {
			background-color: $hoverGray;
		}
	}
	&__currentDate {
		font-size: 22px;
		color: $darkgray;
	}
}
