.sidebar {
	position: relative;
	margin-left: -256px;
	transition: margin 0.5s ease;
	&__active {
		display: flex;
		flex-direction: column;
		margin-left: 0px;
		position: relative;
		overflow: auto;
		width: 256px;
		padding-right: 8px;
	}
	&__buttonCreate {
		position: sticky;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 75px;
		background-color: #ffffff;
	}
	&__body {
		
	}
}
