@import "../../../styles/variables.scss";

.calendar {
	display: flex;
	flex-direction: column;
	padding: 0 14px 16px 19px;
	min-width: 248px;
	width: 248px;
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 32px;
		margin: 0 3.5px;
	}
	&__currentDate {
		font-size: 14px;
		letter-spacing: 0.25px;
		line-height: 20px;
		color: $darkgray;
		font-weight: 500;
		padding-left: 5px;
	}
}
